.navbar-fixed-top{style: "background-color:black;"}
  .row
    .col-md-4
      %center
        .teams_name=@game.home.name
      .well-md
        .row
          .col-md-12
            %center
              .score#score_home{'data-value'=>0} 00
        .row
          .col-md-2
            %center.dashboard_labels
              T.O.L.:
          .col-md-1
            %center
              .indicator_small 0
          .col-md-3
            .btn-group-xs
              %button.btn.btn-default -
              %button.btn.btn-default +
          .col-md-2
            %center.dashboard_labels
              Fouls:
          .col-md-1
            %center
              #home_fouls.indicator_small 0
    .col-md-4
      %center
        .row
          .col-md-3.col-md-offset-3
            %center
              .teams_name Period:
          .col-md-1
            %center
              .indicator_small
                #period 1
          .col-md-2
            .btn-group-xs
              %button.btn.btn-default.minus_period -
              %button.btn.btn-default.plus_period +
        .row
          .col-md-12
            .clock#timer 10:00
            %button.minus_sec
              %span.glyphicon.glyphicon-step-backward.controls
            %button.play.controls
              %span.glyphicon.glyphicon-play.controls
            %button.pause
              %span.glyphicon.glyphicon-pause.controls
            %button.plus_sec
              %span.glyphicon.glyphicon-step-forward.controls
            %button.horn
              %span.glyphicon.glyphicon-volume-up.controls
        .row
          .col-md-2
            %center
              %span
                %a.dashboard_indicator_on.glyphicon.glyphicon-arrow-left
          .col-md-2
            %center
              .dashboard_labels Poss
          .col-md-2
            %center
              %span
                %a.dashboard_indicator_off.glyphicon.glyphicon-arrow-right
          .col-md-2
            %center
              %span
                %a.dashboard_indicator_on.glyphicon.glyphicon-arrow-left
          .col-md-2
            %center
              .dashboard_labels Bonus
          .col-md-2
            %center
              %span
                %a.dashboard_indicator_off.glyphicon.glyphicon-arrow-right
    .col-md-4
      %center
        .teams_name=@game.visit.name
      .well-md
        .row
          .col-md-12
            %center
              .score#score_visit{'data-value'=>0} 00
        .row
          .col-md-2
            %center.dashboard_labels
              T.O.L.:
          .col-md-1
            %center
              .indicator_small 0
          .col-md-3
            .btn-group-xs
              %button.btn.btn-default -
              %button.btn.btn-default +
          .col-md-2
            %center.dashboard_labels
              Fouls:
          .col-md-1
            %center
              #visit_fouls.indicator_small 0
.container-fluid{style: "background-color: black; margin-top: 120px;"}
  .row
    .col-md-6#home_players_in
      - @game.home.players.each do |player|
        .row.player_well{id: player.id}
          .col-md-1
            %button.dashboard_indicator_off.glyphicon.glyphicon-retweet
            %button.dashboard_indicator_off.glyphicon.glyphicon-check
            %button.dashboard_indicator_off.glyphicon.glyphicon-transfer
          .col-md-4
            .player_number
              %input.player_number{type:'text', size:2, style:"background-color:black", pattern: '\d{1,2}', 'data-player-name'=> player.name,  'data-player-id'=> player.id}
            .player_name= player.name
          .col-md-4
            .row
              .col-md-2.btn-group-vertical{role: 'group'}
                .btn-group-xs
                  %button.btn.btn-default.sub_points{'data-player-id'=> player.id, 'data-points'=> 1, 'data-courtside'=>'home'} -F
                  %button.btn.btn-default.sub_points{'data-player-id'=> player.id, 'data-points'=> 2, 'data-courtside'=>'home'} -2
                  %button.btn.btn-default.sub_points{'data-player-id'=> player.id, 'data-points'=> 3, 'data-courtside'=>'home'} -3
              .col-md-5.col-md-offset-1
                .dashboard_labels
                  %center
                    Points
                    .player_points
                      %div{'data-points'=> 0, id: "points_player_#{player.id}"} 0
              .col-md-2.btn-group-vertical{role: 'group'}
                .btn-group-xs
                  %button.btn.btn-default.add_points{'data-player-id'=> player.id, 'data-points'=> 1, 'data-courtside'=>'home'} +F
                  %button.btn.btn-default.add_points{'data-player-id'=> player.id, 'data-points'=> 2, 'data-courtside'=>'home'} +2
                  %button.btn.btn-default.add_points{'data-player-id'=> player.id, 'data-points'=> 3, 'data-courtside'=>'home'} +3
          .col-md-3
            .row
              .col-md-2
                .btn-group-xs
                  %button.btn.btn-default.sub_home_player_foul{'data-player-id'=> player.id} -1
              .col-md-5.col-md-offset-1
                .dashboard_labels
                  %center
                    Fouls
                    .player_fouls
                      %div{'data-fouls'=> 0, id: "fouls_player_#{player.id}"} 0
              .col-md-2
                .btn-group-xs
                  %button.btn.btn-default.add_home_player_foul{'data-player-id'=> player.id} +1
    .col-md-6#visit_players_in
      - @game.visit.players.each do |player|
        .row.player_well{id: player.id}
          .col-md-1
            %button.dashboard_indicator_off.glyphicon.glyphicon-retweet
            %button.dashboard_indicator_off.glyphicon.glyphicon-check
            %button.dashboard_indicator_off.glyphicon.glyphicon-transfer
          .col-md-4
            .player_number
              %input.player_number{type:'text', size:2, style:"background-color:black", pattern: '\d{1,2}', 'data-player-name'=> player.name,  'data-player-id'=> player.id}
            .player_name= player.name
          .col-md-4
            .row
              .col-md-2.btn-toolbar{role: 'toolbar'}
                .btn-group-xs{role: 'group'}
                  %button.btn.btn-default.sub_points{'data-player-id'=> player.id, 'data-points'=> 1, 'data-courtside'=>'visit'} -F
                  %button.btn.btn-default.sub_points{'data-player-id'=> player.id, 'data-points'=> 2, 'data-courtside'=>'visit'} -2
                  %button.btn.btn-default.sub_points{'data-player-id'=> player.id, 'data-points'=> 3, 'data-courtside'=>'visit'} -3
              .col-md-5.col-md-offset-1
                .dashboard_labels
                  %center
                    Points
                    .player_points
                      %div{'data-points'=> 0, id: "points_player_#{player.id}"} 0
              .col-md-2.btn-toolbar
                .btn-group-xs{role: 'group'}
                  %button.btn.btn-default.add_points{'data-player-id'=> player.id, 'data-points'=> 1, 'data-courtside'=>'visit'} +F
                  %button.btn.btn-default.add_points{'data-player-id'=> player.id, 'data-points'=> 2, 'data-courtside'=>'visit'} +2
                  %button.btn.btn-default.add_points{'data-player-id'=> player.id, 'data-points'=> 3, 'data-courtside'=>'visit'} +3
          .col-md-3
            .row
              .col-md-2
                .btn-group-xs
                  %button.btn.btn-default.sub_visit_player_foul{'data-player-id'=> player.id} -1
              .col-md-5.col-md-offset-1
                .dashboard_labels
                  %center
                    Fouls
                    .player_fouls
                      %div{'data-fouls'=> 0, id: "fouls_player_#{player.id}"} 0
              .col-md-2
                .btn-group-xs
                  %button.btn.btn-default.add_visit_player_foul{'data-player-id'=> player.id} +1
:javascript
  var count = 30;
  var mins = 10; //Set the number of minutes you need
  var secs = mins * 60;
  var currentSeconds = 0;
  var currentMinutes = 10;
  var isPaused = true;
  var currentPeriod = 1;
  var homeFouls = 0;
  var visitFouls = 0;
  var homeTO = 0;
  var visitTO = 0;
  var homePoints = 0;
  var visitPoints = 0;
  var Players = {}

  var snd = new Audio("/sounds/buzzer.mp3"); // buffers automatically when created

  var counter = setInterval(timer, 1000); //1000 will  run it every 1 second

  function resetClock(){
    mins = 10; //Set the number of minutes you need
    secs = mins * 60;
    currentSeconds = 0;
    currentMinutes = 10;
    isPaused = true;
    counter = setInterval(timer, 1000); //1000 will  run it every 1 second

    if (currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
    if (currentMinutes <= 9) currentMinutes = "0" + currentMinutes;
    document.getElementById("timer").innerHTML = currentMinutes + ":" + currentSeconds; //Set the element id you need the time put into.
    $('.play').show();
  }

  function timer() {
    if(!isPaused){
      currentMinutes = Math.floor(secs / 60);
      currentSeconds = secs % 60;
      if (currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
      if (currentMinutes <= 9) currentMinutes = "0" + currentMinutes;
      secs--;
      document.getElementById("timer").innerHTML = currentMinutes + ":" + currentSeconds; //Set the element id you need the time put into.
      if (secs < 0) {
        clearInterval(counter);
        snd.currentTime = 0;
        snd.play();
        resetClock();
        return;
      }
    }
  }

  //with jquery
  $('.pause').on('click', function(e) {
    e.preventDefault();
    isPaused = true;
    $('.play').show();
    $('.minus_sec').show();
    $('.plus_sec').show();
    $(this).hide();
  });

  $('.play').on('click', function(e) {
    e.preventDefault();
    isPaused = false;
    $('.pause').show();
    $('.minus_sec').hide();
    $('.plus_sec').hide();
    $(this).hide();
  });

  $('.minus_sec').on('click', function(e) {
    e.preventDefault();
    if(secs>=2){
      secs--;
      currentMinutes = Math.floor(secs / 60);
      currentSeconds = secs % 60;
      if (currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
      if (currentMinutes <= 9) currentMinutes = "0" + currentMinutes;
      document.getElementById("timer").innerHTML = currentMinutes + ":" + currentSeconds; //Set the element id you need the time put into.
    }
  });

  $('.plus_sec').on('click', function(e) {
    e.preventDefault();
    secs++;
    currentMinutes = Math.floor(secs / 60);
    currentSeconds = secs % 60;
    if (currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
    if (currentMinutes <= 9) currentMinutes = "0" + currentMinutes;
    document.getElementById("timer").innerHTML = currentMinutes + ":" + currentSeconds; //Set the element id you need the time put into.
  });

  $('.plus_period').on('click', function(e) {
    e.preventDefault();
    currentPeriod++;
    var cp = $('#period');
    cp.text(currentPeriod);
  });

  $('.minus_period').on('click', function(e) {
    e.preventDefault();
    if(currentPeriod>=2){
      currentPeriod--;
      var cp = $('#period');
      cp.text(currentPeriod);
    }
  });

  $('.horn').on('click', function(e){
    snd.currentTime = 6;
    snd.play();
    int = setInterval(function() {
        if (snd.currentTime > 7) {
            snd.pause();
            clearInterval(int);
        }
    }, 10);
  })

  $('.add_home_player_foul').on('click', function(){
    player_id = $(this).attr('data-player-id');
    if(Players[player_id]!==undefined){
      homeFouls++
      var hf = $('#home_fouls')
      hf.text(homeFouls)
      var p = $('#fouls_player_'+player_id)
      var pf = p.attr('data-fouls')
      pf++
      p.attr('data-fouls', pf)
      p.text(pf)
      Players[player_id].addFoul()
    }
  })

  $('.sub_home_player_foul').on('click', function(){
    player_id = $(this).attr('data-player-id');
    if(Players[player_id]!==undefined){
      var p = $('#fouls_player_'+player_id)
      var pf = p.attr('data-fouls')
      if(pf>0){
        pf--
        if(homeFouls>0)
          homeFouls--
      }
      var hf = $('#home_fouls')
      hf.text(homeFouls)
      p.attr('data-fouls', pf)
      p.text(pf)
      Players[player_id].removeFoul()
    }
  })

  $('.add_visit_player_foul').on('click', function(){
    player_id = $(this).attr('data-player-id');
    if(Players[player_id]!==undefined){
      visitFouls++
      var hf = $('#visit_fouls')
      hf.text(visitFouls)
      var p = $('#fouls_player_'+player_id)
      var pf = p.attr('data-fouls')
      pf++
      p.attr('data-fouls', pf)
      p.text(pf)
      Players[player_id].addFoul()
    }
  })

  $('.sub_visit_player_foul').on('click', function(){
    player_id = $(this).attr('data-player-id');
    if(Players[player_id]!==undefined){
      var p = $('#fouls_player_'+player_id)
      var pf = p.attr('data-fouls')
      if(pf>0){
        pf--
        if(visitFouls>0)
          visitFouls--
      }
      var hf = $('#visit_fouls')
      hf.text(visitFouls)
      p.attr('data-fouls', pf)
      p.text(pf)
      Players[player_id].removeFoul()
    }
  })

  $('.glyphicon-transfer').on('click', function(){
    var playerObj = $(this).parent().parent()
    var player_id = playerObj.attr('id')
    if(Players[player_id]!==undefined){
      playerObj.hide()
      $(this).siblings('.glyphicon-check').remove()
      $(this).remove()
    } else {
      alert('Set up player number first')
    }
  })

  $('.glyphicon-check').on('click', function(){
    var playerObj = $(this).parent().parent()
    var player_id = playerObj.attr('id')
    if(Players[player_id]!==undefined){
      $(this).siblings('.glyphicon-transfer').remove()
      $(this).remove()
    } else {
      alert('Set up player number first')
    }
  })

  $('.add_points').on('click', function(){
    var player_id = $(this).attr('data-player-id')
    if(Players[player_id]!==undefined){
      var points = parseInt($(this).attr('data-points'))
      var courtside = $(this).attr('data-courtside')
      var currentTeamScoreObj
      if(courtside=='home'){
        homePoints+=points
        currentTeamScoreObj = $('#score_home')
      } else if(courtside=='visit'){
        visitPoints+=points
        currentTeamScoreObj= $('#score_visit')
      }
      var current_points = parseInt(currentTeamScoreObj.attr('data-value'))
      current_points += points;

      currentTeamScoreObj.attr('data-value', current_points)
      if(current_points<=9)
        current_points = '0'+current_points
      currentTeamScoreObj.text(current_points)

      Players[player_id].addPoints(points)
      //Get the player's points obj
      var playerPointsObj = $('#points_player_'+player_id)
      //Update the UI
      playerPointsObj.attr('data-points', Players[player_id].points)
      playerPointsObj.text(Players[player_id].points)
    }
  })

  function Player(id, name, number='empty'){
    this.id = id
    this.name = name
    this.number = number
    this.points = 0
    this.fouls = 0
    this.status = 'bench'
    this.init = function(id, name, number='empty') {
      this.id = id
      this.name = name
      this.number = number
      return this
    }
    this.setNumber = function(newNumber){
      this.number = newNumber
    }
    this.addPoints = function(newPoints) { this.points += newPoints}
    this.addFoul = function() { this.fouls++}
    this.removePoints = function(newPoints) { this.points -= newPoints}
    this.removeFoul = function() { this.fouls--}
    this.setInGame = function() { this.status = 'playing'}
    this.setOnBench = function() { this.status = 'bench'}
  }

  $('input.player_number').on('keyup', function(e) {
    if (e.which == 13 || e.keyCode == 13) {
      var player_id = $(this).attr('data-player-id')
      if(player_id!==undefined && player_id!==null){
          if(Players[player_id]!==undefined && Players[player_id]!==null){
            console.log('here')
            console.log('id: '+player_id+', number: '+$(this).val())
            Players[player_id].setNumber($(this).val())
            $(this).prop('disabled', true);
          }else{
            var player_name = $(this).attr('data-player-name')
            if(player_name!==undefined && player_name!==null){
              var newPlayer = new Player(player_id, player_name, $(this).val())
              Players[player_id] = newPlayer
              $(this).prop('disabled', true)
            }else
              alert('An error ocurred: No player name')
          }
          e.preventDefault()
      } else
        alert('An error ocurred: Could not get player id')
    }
  });
