= simple_form_for(@game_log) do |f|
  = f.error_notification

  .form-inputs
    = f.association :game
    = f.association :player
    = f.input :period
    = f.input :event
    = f.input :count

  .form-actions
    = f.button :submit
