!!!
%html
  %head
    %title Baskore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand Baskcore
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Tournament', tournaments_path
            %li
              = link_to 'Teams', teams_path
            %li
              = link_to 'Players', players_path
            %li
              = link_to 'Rounds', rounds_path
            %li
              = link_to 'Games', games_path
    %p.notice= notice
    %p.alert= alert
    .container-fluid
      .row
        .col-lg-12
          = yield